<div class="h-100 p-1 text-bg-dark rounded-2">
    <h1>Bienvenido! {{user.name}} </h1>
    <h2 class="display-4">trueKe.com</h2>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-5">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta distinctio exercitationem sequi error est velit eos provident atque rem illo obcaecati quidem voluptatem quod, tempore sint sit veritatis ut dolorum!</p>
    <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary">Registrate</button>
    <button type="button" class="btn btn-outline-primary">Productos</button>
</div>
</div>