<div class="card">
<div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore aut dignissimos cum ducimus praesentium assumenda quia delectus, placeat architecto unde, illum omnis voluptates sed hic? Quia eveniet nam non sint.</p>
</div>
</div>