<div class="h-100 p-1 text-bg-dark rounded-2">
    <h1 class="display-4">trueKe.com.co E-commerce NodeJs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-5">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta distinctio exercitationem sequi error est velit eos provident atque rem illo obcaecati quidem voluptatem quod, tempore sint sit veritatis ut dolorum!</p>
    <a href="https://www.youtube.com/watch?v=LzFIJY8K1Kg" class="btn btn-outline-light">e-Commerce</a>

</div>