<div class="card">
<div class="card-body">
    <h1>Welcome</h1>
    <p>!Bienvenido al e-Commerce trueKe¡, Un gusto contar con tu presencia... 
        <hr>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore aut dignissimos cum ducimus praesentium assumenda quia delectus, placeat architecto unde, illum omnis voluptates sed hic? Quia eveniet nam non sint.</p>
</div>
</div>