body {
    background: #734b6d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #42275a, #734b6d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #42275a, #734b6d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}