<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
  <a class="navbar-brand" href="/">trueKe.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/shopping-cart">
            <i class="fas fa-shopping-cart"></i>Shopping Cart
            <span class="badge">{{ session.cart.totalNumberOfItems }}</span>
        </a>
      </li>
     <ul class="navbar-nav md-3 ms-md-auto">
         {{#if user}}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- The user is logged in. -->
                <li><a class="dropdown-item" href="/users/profile">Profile</a></li>
                <li><a class="dropdown-item" href="/notes">All notes</a></li>
                        <li><a class="dropdown-item" href="/notes/add">New note</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
                </ul>
                </li>
               <!-- <a class="dropdown-item" href="/users/logout">Log out</a> -->
            {{else}}
                <!-- The user is not logged in. -->
                <li class="nav-item">
                    <a class="nav-link active" href="/users/signin">SignIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/signup">SignUp</a>
                </li>
            {{/if}}
        </div>
    </ul>
  </div>
  </div>
</nav>
<!-- Copia de Navigation -->